{% extends "base.html" %}
{% set about_on = True %}
{% block title %}O nás - {{ SITENAME }}{% endblock %}

{% block header %}{% set page_title = "O nás" %}{% include "page_title.html" %}{% endblock %}

{% block message_bottom %}{% include "message_bottom.html" %}{% endblock %}

{% block content %}
<!--About Content-->
<section id="blue-container">
  <div class="container">
    <div class="row">
      
      <div class="span6 margin-30">
        <h3>Here is why we are so amazing!</h3>
        <p class="lead">Vestibulum non turpis sed diam volutpat scelerisque.</p>
        <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium diam quis ante scelerisque interdum. Praesent non orci nunc. Nulla sit amet felis in nibh ultricies blandit vel vitae ipsum. Aenean at dolor arcu, a commodo metus. In purus purus, egestas a hendrerit non, euismod ut tortor. Maecenas placerat nunc at eros tincidunt sagittis. Quisque facilisis dapibus ullamcorper. Phasellus ac mauris libero, vel placerat felis. Vestibulum non turpis sed diam volutpat scelerisque.</p>
        <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium diam quis ante scelerisque interdum. Praesent non orci nunc. Nulla sit amet felis in nibh ultricies blandit vel vitae ipsum.</p>
      </div>
      
      <div class="span6 text-center">
        <img src="{{ SITEURL }}/theme/img/about-img.png" alt="Title">
      </div>
      
    </div>
  </div>
</section>


<!--Team Section-->
<section id="team">
  <div class="container">
    <div class="row margin-40">
      <div class="span12">
        <h3><span class="blue">Meet The Leaders</span></h3>
      </div>
    </div>
    
    <div class="row-fluid">
      
      <!--Team Member-->
      <div class="span3 text-center team-member">
        <img src="{{ SITEURL }}/theme/img/team-01.png" alt="Title">
        <a href="http://about.me/" target="_blank">
          <span class="info">
            <span><strong>First Last </strong><br /><em>Title</em></span>
          </span>
        </a>
      </div>
      
      <!--Team Member-->
      <div class="span3 text-center team-member">
        <img src="{{ SITEURL }}/theme/img/team-02.png" alt="Title">
        <a href="http://about.me/" target="_blank">
          <span class="info">
            <span><strong>First Last </strong><br /><em>Title</em></span>
          </span>
        </a>
      </div>
      
      <!--Team Member-->
      <div class="span3 text-center team-member">
        <img src="{{ SITEURL }}/theme/img/team-03.png" alt="Title">
        <a href="http://about.me/" target="_blank">
          <span class="info">
            <span><strong>First Last </strong><br /><em>Title</em></span>
          </span>
        </a>
      </div>
      
      <!--Team Member-->
      <div class="span3 text-center team-member">
        <img src="{{ SITEURL }}/theme/img/team-04.png" alt="Title">
        <a href="http://about.me/" target="_blank">
          <span class="info">
            <span><strong>First Last </strong><br /><em>Title</em></span>
          </span>
        </a>
      </div>
      
    </div>
  </div>
</section>
{% endblock %}