Title: {{ title }}
Slug: {{ slug }}
Date: {{ date }}
Category: {{ category }}
Tags: {{ tags }}
Author: {{ author }}
Media: /static/images/
Summary: {{ summary }}
{% if status %}Status: {{ status }}{% endif %}


