Title: {{ title }}
Slug: {{ slug }}
Date: {{ date }}
Category: {{ category }}
Tags: {{ tags }}
Author: {{ author }}
Media: test.png | KR1xmfBrnWU 
Media_type: image | youtube
Summary: {{ summary }}
{% if status %}Status: {{ status }}{% endif %}


