{% extends "base.html" %}
{% block title %}Blog - {{ article.title|title }} - {{ SITENAME }}{% endblock %}
{% block meta_description %}{{ article.summary }}{% endblock %}

{% block header %}{% set page_title = "Blog - " + article.title|title %}{% include "page_title.html" %}{% endblock %}

{% block message_bottom %}{% include "message_bottom.html" %}{% endblock %}

{% block content %}
<article class="blog margin-30">
  <div class="row-fluid">
    <div class="span1">
      <i class="icon-quote-left icon-2x margin-10 blue"></i>
    </div>
    
    <div class="span11">
      {% include "article_media.html" %}
      <br />
      <h3 class="gray">{{ article.title|title }}</h3>
      <div>{% include "article_metadata.html" %}</div>
      <div class="gray article-content">{{ article.content }}</div>
      <div>{% include "article_tags.html" %}</div>
    </div>
  </div>            
</article>

{% include "widgets/twitter.html" %}

{% if DISQUS_SITENAME %}
<!--Comments-->
<h2 class="dark-gray margin-30"><i class="icon-comments icon-large"></i> Komentáře</h2>
{% include "widgets/disqus.html" %}
{% endif %}

{% include "widgets/facebook.html" %}
{% endblock %}