{% extends "base.html" %}
{% block title %}Blog - {{ SITENAME }}{% endblock %}

{% block header %}{% set page_title = "Blog" %}{% include "page_title.html" %}{% endblock %}

{% block message_bottom %}{% include "message_bottom.html" %}{% endblock %}

{% block content %}

{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}
<article class="blog margin-30">
  <div class="row-fluid">
    <div class="span1">
      <i class="icon-quote-left icon-2x margin-10 blue"></i>
    </div>

    <div class="span11">
      <a href="{{ SITEURL }}/{{ article.url }}">{% include "article_media.html" %}</a>
      <br/>
      <h3 class="gray"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|title }}</a></h3>
      <p class="blue"><small><em>{% include "article_metadata.html" %}</em></small></p>
      <p class="gray">{{ article.summary }}</p>
      <p class="blue"><small><em>{% include "article_tags.html" %}</em></small></p>
      <br />
      <a class="btn-main" href="{{ SITEURL }}/{{ article.url }}">Více</a>
    </div>
  </div>
</article>
{% endfor %}
{% endif %}

{% include "pagination.html" %}
        
{% endblock %}