{% extends "base.html" %}
{% block title %}Kontakt - {{ SITENAME }}{% endblock %}

{% block header %}{% set page_title = "Kontakt" %}{% include "page_title.html" %}{% endblock %}

{% block content %}
<!--Content Section-->
<section id="content">
  <div class="container">
    
    <div class="row">
      <div class="span8">        
        <form method="POST" action="/">
          <input type="text" class="span8" name="contact_name" placeholder="Jméno">
          <input type="text" class="span8" name="contact_email" placeholder="E-mail">
          <input type="text" class="span8" name="contact_subject" placeholder="Předmět">
          <textarea class="span8" name="contact_message" placeholder="Zpráva"></textarea>
          <input type="hidden" name="save" value="contact">
          <p><button class="btn-main" type="submit">Odeslat</button></p>
        </form>
      </div><!--End Span8-->
      
      <div class="span4">
        <p class="lead">Side Bar Title<p>
  				<p class="gray">Lorem <a href="#">ipsum dolor</a> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      
    </div><!--End Row-->   
  </div>
</section> 


<!--Map Section-->
<section id="map">

  {% include "map.html" %}
  
</section>
{% endblock %}