<!--Header Section-->
<section id="header">
  <!-- slideshow start here -->
  <div id="slider-wrapper">
    <div class="camera_wrap" id="camera-slide">
    
      <!-- slide 1 here -->
      <div  data-src="{{ SITEURL }}/static/images/slides/home-header/slide1/background1.jpg">
        <div class="camera_caption fadeFromLeft">
          <div class="container">
            <div class="row">                                
              <div class="span6">
                <h1 class="animated fadeInDown margin-30"><strong>Virtualizační platforma <span class="blue">OpenStack</span></strong></h1>
                <p class="animated fadeInUp margin-50">OpenStack je svobodná technologie pro provoz cloudů typu IaaS (infrastruktura jako služba).</p>
                <a href="#" class="btn btn-main btn-large animated fadeInUp">
                  <i class="icon-link"></i> Více informací
                </a>
                <a href="#" class="btn btn-main-blue btn-large animated fadeInUp">
                  <i class="icon-download"></i> Jak začít
                </a>
              </div>
              <div class="span6">
                <img src="{{ SITEURL }}/static/images/slides/home-header/slide1/openstack-logo.png" alt="" class="animated bounceInDown delay1" />
              </div>
            </div>  
          </div>                                                                                         
        </div>
      </div>
      
      <!-- slide 2 here -->
      <div  data-src="{{ SITEURL }}/static/images/slides/home-header/slide2/background2.jpg">
        <div class="camera_caption fadeFromLeft">
          <div class="container">
            <div class="row"> 
              <div class="span6">
                <img class="animated bounceInDown delay1" src="{{ SITEURL }}/static/images/slides/home-header/slide2/newsletter.png" alt="" />
              </div>                
              <div class="span6">
                <h1 class="animated fadeInDown margin-30"><strong><span class="blue">Newsletter</span></strong></h1>
                <p class="animated fadeInUp margin-50">Objednejte si pravidelné zasílání aktualit kolem platformy OpenStack.</p>

                {% include "widgets/mad_mimi.html" %}
                
              </div>
            </div>  
          </div>                                                                                         
        </div>
      </div>
      
      <!-- slide 3 here -->
      <div  data-src="{{ SITEURL }}/static/images/slides/home-header/slide1/background1.jpg">
        <div class="camera_caption fadeFromLeft">
          <div class="container">
            <div class="row">                                
              <div class="span12 aligncenter">
                <iframe width="100%" height="100%" src="//www.youtube.com/embed/p4eW78gHfCg" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>  
          </div>                                                                                         
        </div>
      </div>

    </div>
  </div>
  <!-- slideshow end here --> 
</section>