<!--Header Section-->
<section id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        
        <ul class="bxslider">
          <li>
            <img src="{{ SITEURL }}/theme/img/header1.png" alt="Title" />
            <div class="row text-center">
              <div class="span10 offset1">
              <h1>Welcome to Sharkfin, an incredibly unique web and mobile experience for your users.</h1><br />
              <a class="btn-main" href="about.html">Learn More</a>
              </div>
            </div>
          </li>
          
          <li>
            <img src="{{ SITEURL }}/theme/img/header2.png" alt="Title" />
            <div class="row text-center">
              <div class="span10 offset1">
              <h1>Built to look good on all devices. Resize your browser to take a look for yourself.</h1><br />
              <a class="btn-main" href="about.html">Learn More</a>
              </div>
            </div>
          </li>
        </ul>
      
      </div><!--End Span12-->
    </div>
  </div>
</section><!--BxSlider-->